body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0c1924;
}

h1, p{
    color: #ffffff;
}

.container {
    text-align: center;
    background: #0c1d2f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 2px solid #0254a4;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #0d1620;
    color: #ffffff;
}

button {
    padding: 10px 20px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #019cef;
}

#result {
    margin-top: 20px;
}

p {
    margin-top: 10px;
    font-size: 1.2em;
}
